# Password for nuxt-auth-utils (minimum 32 characters)
NUXT_SESSION_PASSWORD=
# GitHub OAuth client ID
NUXT_OAUTH_GITHUB_CLIENT_ID=
# GitHub OAuth client secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
# Vercel AI gateway key
AI_GATEWAY_API_KEY=
# Blob read write token
BLOB_READ_WRITE_TOKEN=
# Turso database URL (not needed for local development)
TURSO_DATABASE_URL=
# Turso auth token (not needed for local development)
TURSO_AUTH_TOKEN=
